<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="output.css">
</head>

<body>

  <textarea class="input" name="" id=""></textarea>
  <button class="button">Leave a comment</button>


  <div class="comments flex">
    <h2>Comments</h2>

    <!-- <custom-comment>

      <div slot="layout">
        <div class="comment-head">
          <span>Nickname</span>
          <span>May 11, 2024</span>
        </div>

        <p>Some text</p>

        <div class="comment-bottom">
          <button class='reply'>Reply</button>
          <button>Delete</button>
        </div>

        <div class='add-comment hidden'>
          <textarea></textarea>
          <button>Submit</button>

        </div>

        <div class='children'></div>

      </div>

    </custom-comment> -->
  </div>









  <script src="./script.js"></script>
</body>

</html>