<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="output.css">
</head>

<body>

  <section class="comment-section p-10">
    <div class="container w-full max-w-7xl mx-auto my-0">
      <div class="flex gap-3 items-center mb-10">
        <textarea class="input block rounded-xl border-2 resize-none border-blue-500 outline-none max-w-64 w-full 
        focus:outline-none text-2xl p-3"></textarea>
        <button class="button text-blue-400">Leave a comment</button>
      </div>

      <div class="comments flex flex-col gap-4">
        <h2 class="text-4xl m-0 mb-3">Comments</h2>

      </div>

    </div>
  </section>


  <!-- <custom-comment>

      <div slot="layout">
        <div class="comment-head">
          <span>Nickname</span>
          <span>May 11, 2024</span>
        </div>

        <p>Some text</p>

        <div class="comment-bottom">
          <button class='reply'>Reply</button>
          <button>Delete</button>
        </div>

        <div class='add-comment hidden'>
          <textarea></textarea>
          <button>Submit</button>

        </div>

        <div class='children'></div>

      </div>

    </custom-comment> -->

  <!-- html template, detele functionality, custom properties -->









  <script src="./script.js"></script>
</body>

</html>